@import "colors.css";
@define-color ACCENT #ff6f00;

window {
    margin: 0px;
    border: 5px solid rgba(0,0,0,0.2);
    background-color: alpha(@primary_container,0.5); 
    border-radius: 15px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: @tertiary_fixed;
    font-weight: bold;
    background-color: rgba(0,0,0,.3);
   	outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
}
#input:focus {
    /* border: 0px solid #1e1e2e; */
    margin-bottom: 0px;
}

#inner-box {
    margin: 4px;
    color: #AAAAAA;
    font-weight: bold;
    background-color: transparent;
    border-radius: 15px;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#scroll {
    color: transparent; 
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
}

#img:selected {
    background-color: transparent;
    border-radius: 15px;
}

#text:selected {
    /* color: @tertiary_fixed; */
    color: @tertiary_fixed;
    border: none;
    border-radius: 15px;
    background-color: transparent; 
}

#entry {
    margin: 0px 0px;
    margin-left: 20px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    background-color: rgba(0,0,0,0.2);
}
