@define-color ACCENT #ff6f00;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font", Roboto, sans-serif;
    font-size: 13px;
}

#custom-logout {
  font-family: FontAwesome;
}

#waybar > *{
    margin-top: 5px;
    margin-bottom: 2px;
}

window#waybar.top {
    background-color: rgba(0, 0, 0, 0.0);
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    border-radius: 0;
}

button:hover {
    color: @ACCENT;
}

#custom-minecraft,
#cpu,
#custom-logout,
#clock,
#battery,
#pulseaudio {
    background-color: rgba(0,0,0,0.5);
    padding: 0 10px;
    color: #ffffff;
    border-radius: 100px;
    transition: all 0.3s linear;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces {
    background-color: rgba(0,0,0,0.5);
    border-radius: 100px;
    transition: all 0.3s linear;
}

#workspaces button {
    font-weight: bold;
    background-color: rgba(0,0,0,0);
    color: white;
    border-radius: 100px;
    transition: all 0.3s linear;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    color: @ACCENT;
}

#workspaces button.empty {
  color: #BBBBBB;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.active {
  color: @ACCENT;
}

.modules-left > * > *{
    margin-left: 8px;
}

.modules-right > * > *{
    margin-right: 8px;
}


#battery {
}

#custom-logout {
    font-size: 20px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
}

#battery {
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: rgba(0,100,25,0.5);
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio {
    color: white;
}

#pulseaudio:hover {
    background-color: #a37800;
}

#pulseaudio.muted {
    color: white;
}
